text {
	font-size: 1.2rem;
}

.axis path, .axis line {
	stroke: #999999;
}

.axis text {
	fill: #999999;
}

.metric {
	font-size: 3rem;
}

.chartRow .bar {
	fill: #eaeaea;
	stroke: #fff;
}

.chartRow .label{
	fill: #777777;
	color: #777777;
	font-size: 2em;
	font-weight: bold;
	text-anchor: end;
}

.chartRow .category {
	fill: #666666;
	font-size: 2em
}
