/*****
* Full height sections
*
*****/

/*  Full height section   */
section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;
}



/* Alternate section color scheme  */

section.alternate {
	background-color: var(--background-color-alternate);
	color: var(--text-color-alternate);
}

section.alternate a {
	color: var(--text-color-alternate);
}

.alternate .button,
.alternate button,
.alternate input[type="submit"],
.alternate input[type="reset"],
.alternate input[type="button"] {
	color: black;
}


/*  Animated link to next section  (arrow/chevron down)   */
.section-bottom-sticky {
	position: absolute;
	bottom: 4rem;
	width: 100%;
}

@-webkit-keyframes nextSection {
	0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { -webkit-transform:translate(0,20px); opacity: 0; }
}@-moz-keyframes nextSection {
	0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { -moz-transform:translate(0,20px); opacity: 0; }
}@keyframes nextSection {
	0%   { transform:translate(0,-20px); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { transform:translate(0,20px); opacity: 0; }
}

.next-section-link {
	-webkit-animation: nextSection 1.75s ease-in-out infinite;
	-moz-animation: nextSection 1.75s ease-in-out infinite;
	animation: nextSection 1.75s ease-in-out infinite;
}

/* Section background images  */

.bg-section {
	background-repeat: no-repeat;
	background-size: cover;
}


@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
	.bg-section {
		background-attachment: fixed;
	}
}
