#language-picker {
	margin-top: -4rem;
}

@media (min-width: 400px) {
	/* Larger than mobile */
	#language-picker {
		position: absolute;
		top: 0px;
		right: 2rem;
		margin-top: -4rem;
	}
}

.lang {
	padding: 0 .5rem;
	border: 1px solid #222;
}
.lang-active {
	background-color: #222;
}

.lang-select:hover {
	background-color: #444;
}
