
.modal {
	background: rgba(0,0,0,.25);
}
.modal__dialog {
	width: 35rem;
	max-width: 80%;
	margin: 25px 0;
	background: #fff;
	padding: 1rem;
	position:relative;
}
.modal-close-icon {
  position: absolute;
  right: 1rem;
}

.modal-inner {
	height: 100%;
	overflow: auto;
}

.modal h4 {
	margin-top: .5rem;
	margin-bottom: 1.5rem;
}
