.container {
	min-height: 100%;
}

section:first-child {
	min-height: 30vh;
}

section {
	padding: 3rem 10000px;
	margin-left: -10000px;
	margin-right: -10000px;
}


@media (min-width: 1200px) {
  /* Larger than Desktop HD */
    section {
	  padding: 5rem 10000px;
    }
}


/* sections background images */

section:nth-child(odd) {
	background-color: #eee;
    background-image: url("/img/bg-pattern-2x.jpg");
    background-repeat: repeat;
    background-attachment: cover;
    background-size: 75px 62px;
}
section:nth-child(even) {
	background-color: #FCFCFC;
}
 

@media (min-width: 560px) {
	/* Larger than phablet (also point when grid becomes active) */
	section:nth-child(odd) {
		background-attachment: fixed;
	}
}

/* fix jumpy background image on IE... :/ */

@media all and (-ms-high-contrast:none)
{
	section:nth-child(odd) {
		background-attachment: scroll;
	}
	*::-ms-backdrop, section:nth-child(odd) {
		background-attachment: scroll;
	}
}
