#topicsInput {
  position: relative;
  margin: 1rem 0rem;
  padding: 0.4rem 0.6rem;
  background-color: var(--form-background-color);
  border: var(--form-border);
  border-radius: var(--border-radius);
  box-shadow: none;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
 }


.taggle_list {
  padding: 0;
  margin: 0;
  margin-top: .6rem 0 .2rem;
  width: 100%;
}

input[type="text"].taggle_input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0;
}

.taggle_list li {
  display: inline;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.taggle_list li {
  display: inline;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 15px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  font-size: 1.1rem;
  position: absolute;
  top: 10px;
  right: 3px;
  height: 1rem;
  text-decoration: none;
  padding: 0;
  line-height: 0.5;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.taggle_list .taggle:hover {
  padding-left: 10px;
  padding-right: 20px;
  background: #ccc;
  transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  opacity: 1;
  pointer-events: auto;
}

.taggle_list .taggle .close:hover {
  color: #990033;
}

.taggle_placeholder {
  position: absolute;
  color: var(--button-font-color-disabled);
  top: .9rem;
  left: 16px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  margin-top: -5px;
  background: none;
  max-width: 100%;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}
