html {
  font-size: 1.4em;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
}

.page-wrapper {
  min-height: 100%;
  overflow-x: hidden;
}

footer
{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10000px;
  margin-left: -10000px;
  padding-right: 10000px;
  margin-right: -10000px;
  border-top: 3px solid #ccc;
  color: var(--opposite-font-color);
  background-color: var(--opposite-background-color);
  background: url("/img/bg-pattern-dark-2x.jpg") repeat fixed;
  background-size: 75px 62px;
}
