/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: var(--hr);
}

blockquote {
  border-left: 6px solid #ddd;
  padding-left: 2rem;
}

/* Footer links and navigation */

footer a, footer fa {
  color: #F9A70D;
  text-decoration: none;
 }

footer a.active {
  font-weight: bold;
}

.footer-navigation {
  list-style: none;
  margin-top:0.5rem;
  line-height: 0.5;
  color: #F9A70D;
}

/* References and people */

.reference blockquote {
  margin-top:0.5rem;
  margin-bottom:0;
  margin-left: 0;
  padding-left: 0;
  border:none;
  font-size: 120%;
}

.reference blockquote:before {
  content:"\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding-right: 0.2em;

}

/*
some people prefer to just use the
:before quotation mark and make it very large.

I prefer the simple quotes at either end

The :after has been included for convenience and consistency
*/
.reference blockquote:after {
  content:"\f10e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding-left: 0.2em;
}

cite { color: #777; }

.person { margin-top: 2rem; margin-bottom:2rem; }

.client-logo { margin-bottom: 4rem;}

img.u-pull-left {
  margin:0 1rem 0.5rem 0;
  padding:0;

}

.profile-photo {
  border:1px solid #aaa;
  background-origin: content-box;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width:400px)
{
  .profile-photo {  min-width: 200px; }
}

/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
