.table-responsive {
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: var(--td-border-bottom);
}

/*
th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
} */

tr th {
    border-bottom: 1px solid #000;
}


th:first-child,
td:first-child {
	padding-left: 1rem;
}


@media (min-width: 400px) {
  /* Larger than mobile */
  .u-narrow {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
  .u-narrow {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 720px) {
  /* Larger than tablet */
  .u-narrow {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 960px) {
  /* Larger than tablet */
  .u-narrow {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
  }
}

/* PRICING TABLES */

.pricing-table {
	background-color: #FFF;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
	0 3px 1px -2px rgba(0, 0, 0, .2),
	0 1px 5px 0 rgba(0, 0, 0, .12);
} 

table.u-full-width.pricing-table {
    margin-left: 1%;
    width: 98%;
}

.pricing-table .button,
.pricing-table button  {
	margin-left: -0.3em;
}

.empty-cell {
	color: #bbb;
	display: block;
	font-size: 1.4rem;
 }


.pricing-table thead small {
	color: #bbb;
	font-size: 50%;
}

.pricing-table thead th.primary small {
	color: #eee;
}

.pricing-table thead th.small small {
	color: #f0f0f0;
}
.pricing-table thead th.alternate small {
	color: #666;
}


.pricing-table thead th {
	background-color: rgb(71,69,70); /* taken from the logo */
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
}

.pricing-table thead th.primary {
	background-color: #f60; /* taken from the logo */
}

.pricing-table thead th.large {
	background-color: #474546;
}

.pricing-table thead th.medium {
	background-color: #666;
}

.pricing-table thead th.small {
	background-color: #999;
}

.pricing-table thead th.alternate {
	color: #222;
	background-color: #ccc;
}

.pricing-table tbody > tr:last-child > td {
	border-bottom: 0;
}
