.badge {
  display: inline-block;
  margin: 0 .5rem;
  padding: .1rem .3rem;
  color: var(--button-font-color);
  text-align: center;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  background-color: var(--badge-background-color);
  border-radius: var(--border-radius);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.badge-success {
  color: var(--success-button-font-color);
  background-color: var(--success-button-background-color);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.badge.tag {
  margin: .3rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;

}

.badge.small {
  font-size: .75rem;
}
