/*****
* Full width sections
*
*****/

/*  Full width section   */
section {
  width: 100%;
  min-height: 30%;
  padding: 4rem 1rem;
  display: table;
  margin: 0;
}

@media (min-width: 720px) {
  /* Larger than tablet */
  section {
    padding: 4rem 10%;
  }
}

@media (min-width: 1200px) {
  /* Larger than Desktop HD */
  section {
    padding: 4rem 13%;
  }
}

/* Alternate section color scheme  */

section:nth-child(odd) {
  background-color: var(--background-color-alternate);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Section background images  */

.bg-section {
  background-color: var(--primary-button-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}


@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
  .bg-section {
    background-attachment: fixed;
  }
}


/* fix jumpy background image on IE... :/ */
@media all and (-ms-high-contrast:none)
{
  .bg-section {
    background-attachment: scroll;
  }
  *::-ms-backdrop, .bg-section {
    background-attachment: scroll;
  }
}

/* Section masthead  */

.masthead h1,
.masthead h2,
.masthead p,
.masthead a {
  color: white;
  text-shadow: 1px 1px 2px #006;
}

.masthead a.button {
  color: white;
  backdrop-filter: blur(4px);
}

.masthead a.button-primary {
  color: #006;
  background-color: white;
  text-shadow: none;
}

.masthead a.button-primary:hover {
  text-shadow: 1px 1px 2px #006;
}
