/*****
* Full width sections
*
*****/

/*  Full width section   */
section {
	width: 100%;
	min-height: 30%;
	padding: 4rem 1rem;
	display: table;
	margin: 0;
}


@media (min-width: 720px) {
  /* Larger than tablet */
	section {
		padding: 4rem 10%;
	}
}

@media (min-width: 1200px) {
  /* Larger than Desktop HD */
	section {
		padding: 4rem 13%;
	}
}

/* Alternate section color scheme  */

section:nth-child(even) {
	background-color: var(--background-color-alternate);
}


/* Section background images  */

.bg-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
	.bg-section {
		background-attachment: fixed;
	}
}


/* fix jumpy background image on IE... :/ */
@media all and (-ms-high-contrast:none)
{
	.bg-section {
		background-attachment: scroll;
	}
	*::-ms-backdrop, .bg-section {
		background-attachment: scroll;
	}
}
